html {
  font-family: bely, serif;
}

.content {
  background-color: #fff;
}

.btn, .btn-ghost {
  color: #fff;
  border-color: #97a49b;
}

body {
  margin: 0;
}

h1, h2 {
  margin: 0;
  font-family: museo-sans, sans-serif;
}

h3 {
  font-family: museo-sans, sans-serif;
}

.sub-h {
  font-family: museo-sans, sans-serif;
  font-weight: 100;
}

.sub-h-m {
  font-family: museo-sans, sans-serif;
  font-weight: 300;
}

.sub-h-b {
  font-family: museo-sans, sans-serif;
  font-weight: 500;
}

header {
  align-items: center;
  box-shadow: 0 .1em .4em rgba(0, 0, 0, .5);
}

.action-card {
  border-radius: .3em;
  overflow: hidden;
  box-shadow: 0 .1em .4em rgba(0, 0, 0, .5);
}

.action-card-ro {
  border-radius: .6em;
  overflow: hidden;
}

.con-image {
  background-image: linear-gradient(to bottom, transparent, rgba(73, 85, 98, .9));
  background-color: transparent;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.ban {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.hover-box {
  color: #fff;
}

.hover-box-caption {
  bottom: -4em;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
  text-shadow: 1px 1px 5px rgba(0, 0, 0, .9);
  transition: all .2s linear;
}

.hover-box:focus {
  z-index: 10;
}

.hover-box:hover .hover-box-caption, .hover-box:focus .hover-box-caption {
  bottom: 0;
}

.hover-box-img {
  transition: all .2s linear;
}

.hover-box:hover .hover-box-img, .hover-box:focus .hover-box-img {
  filter: grayscale(0);
  transform: scale(1.1);
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-image: url("../images/food-end.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-5 {
  background-position: center;
  background-image: url("../images/ho-ho.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-6 {
  background-position: center;
  background-image: url("../images/pumkin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-3 {
  background-position: center;
  background-image: url("../images/pie.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-4 {
  background-position: center;
  background-image: url("../images/front-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.align-0 {
  align-content: flex-end;
}

.backg {
  background-color: white;
  vertical-align: baseline;
}

.b-w {
  color: #fff;
  border-color: white;
}

.posito {
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
}

.btn {
  background-color: #678ab9;
  border-color: #678ab9;
  font-family: museo-sans, sans-serif;
  font-weight: 500;
}

.back-recipe {
  background-color: #678ab9;
  border-color: #678ab9;
  font-family: museo-sans, sans-serif;
  font-weight: 500;
}

.btn:hover {
  color: #fff;
  background-color: #193a67;
  border-color: #193a67;
}

@media only screen and (min-width: 38em) {

  .hide {
    display: none;
  }

}

@media only screen and (min-width: 25em) {

  .hide-small {
    display: none;
  }

}

@media only screen and (min-width: 38em) {

  .show-hide {
    display: block;
  }

}

@media only screen and (min-width: 60em) {

  .show-ho {
    display: block;
  }

}

@media only screen and (min-width: 60em) {

  .hide-l {
    display: none;
  }

}
